<footer class="p-4 bg-white  md:px-6 md:py-8 border-t mx-4 md:mx-8">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div>
      <a href="{{instance.settings.home_page_url}}" class="flex items-center mb-4 sm:mb-0">
        <img src="{{instance.settings.website.logo_url}}" class="mr-3 h-10" alt="{{instance.name}} Logo" />
      </a>
    </div>

    <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 hover:text-gray-600">
      <li>

        {{#each instance.settings.website.footer_links}}
        <a href="{{this.url}}" class="mr-4 hover:underline md:mr-6 "
          target="{{#if this.new_tab}}_blank{{/if}}{{#unless this.new_tab}}_self{{/unless}}">{{this.text}}</a>
        {{/each}}
      </li>

    </ul>
  </div>
  <span class="block text-xs text-gray-500 text-center dark:text-gray-400">© <span
      id="current-year">{{GLOBAL_CURRENT_YEAR}}</span> <a href="{{instance.settings.home_page_url}}"
      class="hover:underline">{{instance.name}}</a>.
    {{copy.utils.footer.all_rights_reserved}}
  </span>
</footer>